:root{
    --main-light-color:#fff;
    --main-dark-color: #000;
    
   

    --main-font-color:  #212121;;
    --secondary-font-color:#757575;;
   --acent-color:#000;
   --barge-bg-color:#EEEEEE;
   --border-color:#2F303A;
   --card-bg-color: #F5F4FA;;
   --thirty-font-color:#2196F3;;
    

}
ul {
  list-style: none;
}

body {
    color: var(--main-font-color);

    
     
        font-family: 'Roboto', sans-serif;
    
       font-style: normal;
        font-weight: 400;
        font-size: 14px;
  text-decoration: none;
  
}



 /*Global section*/
 .section{
    background-color:var(--main-light-color);
 }

    .section-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.16;
            color:var(--main-font-color);
          
    }
 
 

.container{
   display: flex;
    width: 1200px;
    margin-left:auto;
    margin-right:auto ;
    outline: 0.5pc solid #fff;
    align-items: center;
}
.comtainer{
  display: flex;
}
.adressconteiner{
  display: flex;
}
 .link{
text-decoration: none;
color: inherit;
list-style: none;
}
.adressconteiner{
  justify-self:flex-end;
}

 .sectionbutton{
  text-align: right;
 }

 .button{
    border: none;
    background-color: transparent;
    cursor: pointer;
 }
 .accent{
    color: var(--acent-color);
 }


 /*header*/
 .header{
 
 background-color: var(--main-light-color) 
 ;
 border-bottom: 1px solid var(--secondary-font-color) ;
 
}
 .logo{
  font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
     margin-left: 210px;
    color: var(--thirty-font-color);
   width:145px;
 }


 .nav-link:hover,
  .nav-link:focus{
    color:var(--thirty-font-color);
    list-style: none;
   text-decoration: none; 
   margin: 0px;
   
  }
  ul {
      list-style: none;
      
  }
   
  
   .comtainer{
    display: flex;
    align-items: center;
   }
 .nav-link{
 
     font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color:var(--main-font-color);
        text-decoration: none;
 }
.item{
  
  margin-right: 50px;
}
.nav-link.item:first-child{
  margin-left: 93px;
}
.nav-link.item:last-child{
  margin-right: 0px;
}
.container{
  align-items: center;
  justify-content: flex-end;
}
 
 .adresslink{
  color: var(--secondary-font-color);
  font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
   text-decoration: none;
    align-items: center;
    
 }
.adresslink:hover,
.adresslink:focus{
  color: var(--thirty-font-color);
    list-style: none;
    text-decoration: none;
}
 .aitem{
  margin-left: 131px;
  margin-right: 50px;
  align-items: center;
 
 }
    /*Main nav*/
    .Main-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
      

 /*main content*/
 *{
   
    box-sizing: border-box;
 }
 .main-content{
  width: 1200px;
 }
  .section1{
    background: var(--border-color);
    height: 600px;
      
      margin: auto;
      padding: auto;
     
  }
  .section1title{
   
    
      font-weight: 900;
        font-size: 44px;
        line-height: 1,36;
        color:var(--main-light-color);
        text-transform: uppercase;
        height: 120px;
        width: 696px;
        text-align: center;
          letter-spacing: 0.06em;
          text-transform: uppercase;
       padding-top: 200px;
      padding-bottom: 280px;
       padding-right: 452px;
       padding-left: 452px;
      
       
  }
  
  .section
  .sectionbutton{
    background: var(--thirty-font-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: 700;
            font-size: 16px;
            line-height: 1.8;
            color: var(--main-light-color);
            width: 200px;
             height: 50px;
             border: 0;
             cursor: pointer;
            text-align: right;
            
   
  }
  .sectionbutton:hover {
    background:#1d84d9; 
    transition:background 0.3s;
  }
  .sectionbutton{
    
  }
  .buttonstyle{
    background: var(--thirty-font-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      color: var(--main-light-color);
      width: 73px;
        height: 38px;
        border: 0;
        cursor: pointer;
        text-align: right;
  }
 .buttonstyles{
  border-radius: 4px;
  color:var(--card-bg-color) ;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color:var(--main-dark-color);
    width: 128px;
      height: 38px;
      border: 0;
      cursor: pointer;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
       
 }
.buttonstyles:hover,
.buttonstyles:focus {
  background-color: var(--thirty-font-color);
  color: var(--main-light-color);
  list-style: none;

}



  .section2{
    background: var(--main-light-color);
  }

  
   .visually-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }
    .specialwork{
      font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: var(--main-font-color);
        text-transform: uppercase;
    }
    .special-title{
      font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-font-color);
    }
    .workcontainer{
      display: flex;
    }
    .section3{
      background: var(--main-light-color);
    }
    .workcompany{
      font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        color: var(--main-font-color);
    }
  .company{
    background: var(--card-bg-color);
  }
  .name{
    font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      color: var(--main-font-color);
  }
  .sectionphoto{
   background-color: var(--main-light-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
  }
    .section6 {
      background: var(--main-light-color);
      
    }
    .progect{
      font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--main-font-color);
    }
    .aboutprogect{
      font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        color: var(--secondary-font-color);
    }
    .conteiner-port{
      box-sizing: border-box;
      background: var(--main-light-color);
      border: 1px solid var(--barge-bg-color);
      width: 370px;
      height: 404px;

    }
    .port-href{
        text-decoration: none;
          cursor: pointer;
          letter-spacing: 0.02em;
    }
  /*footer*/
  .section5{
    background: var(--border-color);
  }
  
  .linkadress{
    font-style: normal;
    font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: var(--main-light-color);
      list-style: none;
      text-decoration: none;
  }
    .footerlogo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
      color: var(--main-light-color);
    }
    .adresstitle{
      font-style: normal;
      font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
        list-style: none;
        cursor: pointer;
        text-decoration: none;
    }
        .linkadress:hover,
        .linkadress:focus {
          color: var(--thirty-font-color);
          list-style: none;
          text-decoration: none;
        }
    .adresstitle:hover,
    .adresstitle:focus{
      color: var(--thirty-font-color);
        list-style: none;
        text-decoration: none;
    }
    